<?xml version="1.0" encoding="UTF-8" ?> 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mashen.dao.AdminDao">

	<!-- 结果集的映射，将数据库中的字段映射到Model对象中 -->
	<!-- <resultMap id="UserResultMap" type="mashen.admin.model.AdminUser"> 
		<result property="empno" column="EMPNO" jdbcType="INTEGER" javaType="int" 
		/> <result property="ename" column="ENAME" jdbcType="VARCHAR" javaType="string" 
		/> <result property="pw" column="PW" jdbcType="VARCHAR" javaType="string" 
		/> </resultMap> -->
	<!-- 使用insert标签，插入emp对象 -->

	<insert id="AdminAdd" parameterType="mashen.model.AdminUser">
		insert into admin
		(name,password,account) values(#{name},#{password},#{account})
	</insert>
	<update id="AdminUpdate" parameterType="mashen.model.AdminUser">
		update admin set
		password=#{password},account=#{account} where
		name=#{name}
	</update>
	<select id="AdminSelect" parameterType="java.lang.String" resultType="mashen.model.AdminUser">
		select * from admin where name=#{name}
	</select>
	<select id="AdminSelectName" parameterType="java.lang.String" resultType="mashen.model.AdminUser">
		select name from admin 
	</select>
</mapper>